<annotation>
	<folder>Bootstrap_radio_images</folder>
	<filename>app.png</filename>
	<path>C:\Work\Inno_Vision_X\Bootstrap_radio_images\app.png</path>
	<source>
		<database>Unknown</database>
	</source>
	<size>
		<width>1646</width>
		<height>698</height>
		<depth>3</depth>
	</size>
	<segmented>0</segmented>
	<object>
		<name>radiobutton</name>
		<pose>Unspecified</pose>
		<truncated>0</truncated>
		<difficult>0</difficult>
		<bndbox>
			<xmin>133</xmin>
			<ymin>161</ymin>
			<xmax>176</xmax>
			<ymax>201</ymax>
		</bndbox>
	</object>
	<object>
		<name>radiobutton</name>
		<pose>Unspecified</pose>
		<truncated>0</truncated>
		<difficult>0</difficult>
		<bndbox>
			<xmin>127</xmin>
			<ymin>215</ymin>
			<xmax>183</xmax>
			<ymax>255</ymax>
		</bndbox>
	</object>
	<object>
		<name>radiobutton</name>
		<pose>Unspecified</pose>
		<truncated>0</truncated>
		<difficult>0</difficult>
		<bndbox>
			<xmin>133</xmin>
			<ymin>264</ymin>
			<xmax>181</xmax>
			<ymax>308</ymax>
		</bndbox>
	</object>
	<object>
		<name>button</name>
		<pose>Unspecified</pose>
		<truncated>0</truncated>
		<difficult>0</difficult>
		<bndbox>
			<xmin>135</xmin>
			<ymin>315</ymin>
			<xmax>261</xmax>
			<ymax>397</ymax>
		</bndbox>
	</object>
</annotation>
